<h1><%= @user.name %> <%= link_to "Edit", edit_user_registration_path, class: "btn btn-warning btn-sm align-top" if current_user.id == @user.id %></h1>
<div class="container">
  <div class="center">
    <span class="status">Games Won: <%= @user.wins %></span>
    <span class="status">Games Lost: <%= @user.losses %></span>
    <span class="status">Games Tied: <%= @user.ties %></span>
    <span class="status">Ranking: <%= get_ranking(@user) %></span>
    <span class="status"><b>Total Points: <%= @user.score %></b></span>
  </div>
  <% if @user.id != current_user.id %>
    <div class="center mt-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#invite">Invite to Game</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="invite" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body mx-auto">

            <%= render "games/create_form", game: nil, invited: @user.id %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="games center">
    <% if @user.hosted_games.empty? && @user.participated_games.empty? %>
      <h3>No games played yet</h3>
    <% else %>
      <div class="sort-options mb-3">
        <div class="form-check form-check-inline">
          <input type="checkbox" id="hosted" class="form-check-input" checked>
          <label for="hosted" class="form-check-label">Games Hosted</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" id="participated" class="form-check-input" checked>
          <label for="participated" class="form-check-label">Games Participated</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" id="won" class="form-check-input" checked>
          <label for="won" class="form-check-label">Games Won</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" id="lost" class="form-check-input" checked>
          <label for="lost" class="form-check-label">Games Lost</label>
        </div>
      </div>
      <% @user.hosted_games.where(available: false).each do |game| %>
        <%= render_game_info_table(game, @user.id) %>
      <% end %>
      <% @user.participated_games.where(available: false).each do |game| %>
        <%= render_game_info_table(game, @user.id) %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  let hostedBy = document.getElementsByClassName("hosted");
  let participatedBy = document.getElementsByClassName("participated");
  let won = document.getElementsByClassName("won");
  let lost = document.getElementsByClassName("lost");

  let hostedCB = document.getElementById("hosted");
  addOptionListener(hostedCB, hostedBy);

  let participatedCB = document.getElementById("participated");
  addOptionListener(participatedCB, participatedBy);

  let wonCB = document.getElementById("won");
  addOptionListener(wonCB, won);

  let lostCB = document.getElementById("lost");
  addOptionListener(lostCB, lost);
</script>