<h1><%= @user.name %></h1>
<div class="container">
  <% won = @user.hosted_games.select { |game| game.host_score > game.part_score }.count + @user.participated_games.select { |game| game.part_score > game.host_score }.count %>
  <div class="center">
    <span class="status">Games Won: <%=  won %></span>
    <span class="status">Games Lost: <%= @user.hosted_games.count + @user.participated_games.count - won %></span>
    <span class="status">Games Tied: <%= 0 %></span>
    <span class="status">Ranking: <%= 0 %></span>
    <span class="status"><b>Total Points: <%= @user.score %></b></span>
  </div>
  <hr>
  <div class="games center">
    <div class="sort-options mb-3">
      <div class="form-check form-check-inline">
        <input type="checkbox" id="hosted" class="form-check-input" checked>
        <label for="hosted" class="form-check-label">Games Hosted</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" id="participated" class="form-check-input" checked>
        <label for="participated" class="form-check-label">Games Participated</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" id="won" class="form-check-input" checked>
        <label for="won" class="form-check-label">Games Won</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" id="lost" class="form-check-input" checked>
        <label for="lost" class="form-check-label">Games Lost</label>
      </div>
    </div>
    <% @user.hosted_games.each do |game| %>
      <%= render_game_info_table(game, @user.id) %>
    <% end %>
    <% @user.participated_games.each do |game| %>
      <%= render_game_info_table(game, @user.id) %>
    <% end %>
  </div>

  <% if current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_registration_path, class: "btn btn-warning" %>
  <% end %>
</div>

<script type="text/javascript">
  let hosted = document.getElementsByClassName("hosted");
  let participated = document.getElementsByClassName("participated");
  let won = document.getElementsByClassName("won");
  let lost = document.getElementsByClassName("lost");

  let hostedCB = document.getElementById("hosted");
  addOptionListener(hostedCB, hosted);

  let participatedCB = document.getElementById("participated");
  addOptionListener(participatedCB, participated);

  let wonCB = document.getElementById("won");
  addOptionListener(wonCB, won);

  let lostCB = document.getElementById("lost");
  addOptionListener(lostCB, lost);
</script>