<h1>Welcome to Scrabble Site</h1>
<%= form_tag("/new") do %>
  <%= check_box_tag "challenge"%>
  <%= label_tag "challenge" %>
  <%= submit_tag "Create a New Game" %>
<% end %>

<% @games.each do |game| %>
  <%= form_tag("/join") do %>
    <%= hidden_field_tag "game_id", game.id %>
    <%= submit_tag "Join" %>
  <% end %>
<% end %>