<%= form_with(model: game, html: { class: "mb-3 mr-2 text-center join-form" }) do |form| %>
  <%= form.hidden_field :game_id, value: game.slug %>
  <h5><b>by <i><%= game.host.name %></i></b></h5>

  <% if game.challengable %>
    <p><b>Challenge Mode:</b> On</p>
  <% else %>
    <p><b>Challenge Mode:</b> Off</p>
  <% end %>
  
  <p><b>Points Limit:</b> <%= game.points_limit > 0 ? game.points_limit : "None" %></p>
  <p><b>Time Limit:</b> <%= game.time_limit > 0 ? "#{game.time_limit / 60}m #{game.time_limit % 60}s" : "None" %></p>

  <%= form.submit "Join", class: "btn btn-info btn-block" %>
<% end %>