<!DOCTYPE html>
<html>
  <head>
    <title>ScrabbleSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>

    <%= render_flash_messages %>
    
    <%= yield %>
    
    <footer class="footer">
      <div class="container">
        <p>CopyLeft © 2018 | Contact: <a href="mailto:serafettinyilmaz@harran.edu.tr">Inst. Şerafettin Yılmaz</a></p>
      </div>
    </footer>
  </body>
</html>
