<!DOCTYPE html>
<html>
  <head>
    <title>ScrabbIA</title>
    <%= csrf_meta_tags %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= render "shared/favicons" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>

    <%= render_flash_messages %>
    
    <div class="container pb-5">
      <%= yield %>
    </div>

    <% if user_signed_in? %>
      <%= render "shared/how_to" %>
    <% end %> 
    
    <%= render "shared/footer" %>
  </body>
</html>
