<!DOCTYPE html>
<html>
  <head>
    <title>ScrabbleSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>

    <%= render_flash_messages %>
    
    <%= yield %>

    <% if current_user %>
      <div class="online-users">
        <h6>Online Users</h6>
        <%= render_online_players %>
          
        </div>
    <% end %>

  </body>
</html>
